---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      background: #FAF7F2;
      color: #7A0C0C;
      position: relative;
    }
    <h1>about</h1>

</Layout>
