---
import Layout from "../layouts/Layout.astro";
import "../styles/index.css";
import "../styles/about.css";
---

<Layout>
<div class="about-page">
  <div class="about-container">
    <img class="about-image" src="/AboutWill.webp" alt="Will Donnell" />
    <div class="about-right">
      <header class="about-header">
        <span class="about-header__name">Will Donnell</span>
      </header>
      <div class="about-text body-copy">
        <p style="text-align: center; font-weight: bold">i'm will! great to meet you.</p>
        <p class="indent-first">i'm a 23 year old graphic designer based in Dallas. i'm passionate about where art and ministry meet, and how design can reach people for the Gospel and expand the kingdom of Heaven.</p>
        <p class="indent-first">with experience in programs such as adobe photoshop, illustrator, and after effects, as well as professional and freelance design work, i want to blend artistic function and creative service with the life-changing news of Jesus.</p>
        <p class="indent-first">i love people, diet coke with lime, dancefloors, watching movies, wired headphones, serif typefaces, and this love by maroon 5.</p>
        <p style="text-align: center">you can find me in these places:</p>
        <div class="body-copy__links">
          <a href="mailto:hello@willdonnell.com">email</a>
          <a href="https://instagram.com/wlldnnll" target="_blank" rel="noopener noreferrer">instagram</a>
          <a href="https://www.linkedin.com/in/willdonnell8/" target="_blank" rel="noopener noreferrer">linkedin</a>
        </div>
        <a href="/" class="back-link">&#8592;  back</a>
        <div class="about-overlay__gifs" aria-hidden="true">
          <img src="/framesbutton.gif" alt="">
          <img src="/hedied4u.gif" alt="">
          <img src="/macos8button.gif" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
</Layout>
