---
import Layout from "../layouts/Layout.astro";
import "../styles/index.css";
---

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <Layout title="will donnell!">
  <header class="header">
    <h1 class="title">Will Donnell</h1>
    <p class="tagline">Graphic Designer / Jesus Follower</p>
      <nav class="nav">
        <a href="/about" id="about-link">About</a>
        <a href="/squashed">Portfolio</a>
        <a href="https://www.linkedin.com/in/willdonnell8/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      </nav>
  </header>


</Layout>
